.sec-info{
    background-color: #F6F6F6;
    padding: 74px 0 70px;
}

.sec-info .section-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}


@media screen and (max-width: 991px) {
    .sec-info .section-container{
        grid-template-columns: 1fr;
    }

    .sec-info .section-container .left{
        display: none;
    }
}

.sec-info .left{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1199px) {
    .sec-info .left img{
        width: 100%;
        height: auto;
    }
}

.sec-info .right .mobile-img{
    display: none;
}

@media screen and (max-width: 991px) {
    .sec-info .right .mobile-img{
        display: block;
    }
}

.sec-info .right .list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.sec-info .right .heading span{
    display: block;
}

@media screen and (max-width: 991px) {
    .sec-info .right .list{
        grid-template-columns: 1fr;
    }
}

.sec-info .right .list .list-item{
    display: flex;
    align-items: center;
}

.sec-info .right .list .list-item img{
    margin-right: 15px;
}


@media screen and (max-width: 550px) {
    .sec-info .right .heading{
        font-size: 30px;
    }
}

@media screen and (max-width: 420px) {
    .sec-info .right .heading{
        font-size: 25px;
    }
}
